##################################################################################
# List of aliases (bash/zsh) or abbr (fish).                                     #
#                                                                                #
# 'my_alias' is a function defined in .bazshrc (bash/zsh) or config.fish (fish). #
##################################################################################

my_alias ll    "ls -lGaF"

# Terminal emacs.
my_alias emacs "emacs -nw"

# Change Java version with jenv.
my_alias j11 "jenv global 11.0"
my_alias j8  "jenv global 1.8"

# hg
my_alias hgbs "hg branches"
my_alias hgb  "hg branch"
my_alias hgd  "hg diff"
my_alias hgs  "hg serve"

#########
# Linux #
#########

# mysql.
my_alias is_linux mysqlstart "/opt/mysql-5.7.32-linux-glibc2.12-x86_64/support-files/mysql.server start"
my_alias is_linux mysqlstop  "/opt/mysql-5.7.32-linux-glibc2.12-x86_64/support-files/mysql.server stop"

#########
# macOS #
#########

# mysql.
my_alias is_macos mysqlstart "mysql.server start"
my_alias is_macos mysqlstop  "mysql.server stop"

#########
# Kitty #
#########
my_alias is_kitty icat  "kitty +kitten icat"
my_alias is_kitty d     "kitty +kitten diff"
my_alias is_kitty gd    "git difftool --no-symlinks --dir-diff"
my_alias is_kitty hd    "hg kdiff"
